* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

body {
    background-image: url('../media/albums_bg.jpg');
    background-position-y: 3.125rem;
    background-position-x: center;
}



.al52 {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    margin: 0.983rem;
    margin-bottom: 0;
    display: inline;
}

.al52:hover {
    color: rgb(136, 131, 131);
}



.albums-container {
    display: flex;
    justify-content: space-evenly;
}

.albums-container li {
    margin-bottom: 0.625rem; 
  }

.album1 {
    margin: 1.875rem;
}

.album1 h1,
h6,
h3,
li {
    color: #fff;
}

.cover {
    height: 20rem;
}

.album2 {
    margin: 1.875rem;
}


.album2 h1 {
    color: white;
}

.cover{
    margin-bottom: 1.25rem;
}


.site-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.625rem;
    width: 100%;
    bottom: 0;
}





.Sec {
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    width: 12.5rem;
    height: 1.875rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.813rem;
    margin-left: 1.875rem;
    color: white;
}


.Sec:hover {
    color: rgb(8, 8, 8);
    background-color: white;
}








table {
   
    border-collapse: collapse;
    border-radius: 1.25rem;

    width: 40%;
    background-color: black;
    bottom: 0; 
    left: 0; 
    
    margin: 1.875rem;
}

td {
    border: 1px solid #ddd;

    padding: 8px;
    text-align: center;
    color: #fff;
}

th {
    border: 1px solid #ddd;
    padding: 8px;
   
    color: #fff;
}





.strm{
    text-align: left;
    padding-left: 1.875rem;
    
}

.strm-link
{
    color: white;
}


.strm-icon{
    height: 35px;
}

summary{
    color: white;
}
strong{
    color: white;
}

 p{
    color: white;
}



/* for nav */

.icon{
    height: 1.875rem;
    border: 0;
    
}

.you{
    height: 2.5rem;
    border: 0;
}

.inp{
    border: solid 1px;
    border-radius: 1.875rem;
}

.znachki{
    padding-left: 0.625rem;
    padding-top: 0.438rem;
}

.nav-link{
    font-size: 1.5rem;
    color: white;
}

.navbar{
    border: 1px solid white;

    
}












@media (max-width: 987px) {
    /* for smaller screens */

    .albums-container {
        display: block;
        
    }
    
    body {
        background-image: url('../media/albums_bg.jpg');
        background-position-y: 3.125rem;
        background-position-x: -12rem;
    }
    

}




@media (max-width: 600px) {
    /* for smaller screens */

    .albums-container {
        display: block;
        
    }
    
   

}


