* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}



body {
    background-image: url('../media/gray_bg.jpg');
    background-position: 5rem 5rem;
}



.al52 {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    margin: 0.938rem;
    margin-bottom: 0;
    display: inline;
}

.al52:hover {
    color: rgb(136, 131, 131);
}



.text{
    color: white;
    font-size: 1.5rem;
    margin: 1.875rem;
}


form {
    max-width: 25rem;
    margin: 1.25rem auto;
}

label {
    color: white;
    font-size: 1.5rem;
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.in, select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border-radius: 3px;
}

.check_box{
    color: white;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-bottom: 0.5rem;
}


.ch{
    margin: 0 !important;
    padding: 0 !important;
    display: block;
    
}

.rb label{
    font-size: 1rem;
    font-weight: normal;
}


.but {
    background-color: #4caf50;
    color: #fff;
    padding: 0.625rem;
    border: none;
    cursor: pointer;
    border-radius: 0.625rem;
}

.but:hover {
    background-color: #45a049;
}

.but[type="reset"] {
    background-color: #f44336;
}

.but[type="reset"]:hover {
    background-color: #d32f2f;
}



/* for nav */

.icon{
    height: 1.875rem;
    border: 0;
    
}

.you{
    height: 2.5rem;
    border: 0;
}

.inp{
    border: solid 1px;
    border-radius: 1.875rem;
}

.znachki{
    padding-left: 0.625rem;
    padding-top: 0.438rem;
}

.nav-link{
    font-size: 1.5rem;
    color: white;
}

.navbar{
    border: 1px solid white;

    
}

.site-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.625rem;
    width: 100%;
}










@media (max-width: 987px) {
    /* for smaller screens */

    .nav-link{
        display: inline;
    }


   
}



@media (max-width: 600px) {
    /* for smaller screens */

    .nav-link{
        display: inline;
    }


   
}



